@charset "utf";

.marquee-container {
    display: flex;
    position: relative;
}


@keyframes marquee {
    0% {
        translate: 0;
    }

    100% {
        translate: -100%;
    }
}

/*応用編：画像をホバーすると動きが止まり拡大する*/

.marquee-inner-stop{
    display: flex;
    animation: marquee 20s linear infinite;
}

.marquee-inner-stop img{
    transition: scale .4s;
}
.marquee-inner-stop:has(img:hover){
    z-index: 2;
}

.marquee-inner-stop img:hover{
    scale: 1.1;
}

/*停止時のクラス*/
.marquee-paused {
  animation-play-state: paused;
}